*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: #666;
  margin: 0;
  padding: 0;
  text-align: center;
}
a {
  text-decoration: none;
  color: #000;
}
.content {
  position: relative;
  max-width: 640px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
}
h1 {
  color: #000;
  font-size: 3rem;
}
h2 {
  color: #000;
  font-size: 1.4rem;
  margin-top: 3rem;
}
p {
  font-size: 1rem;
  line-height: 1.8;
  margin: 0.5rem 0;
  font-weight: 400;
  text-align: justify;
}
p a {
  padding-left: 2px;
  padding-right: 2px;
  margin-left: -2px;
  margin-right: -2px;
  border-radius: 2px;
}
h3 a,
p a {
  text-decoration: underline;
}
h3 a:hover,
p a:hover {
  background-color: #ACE;
  text-decoration: underline;
}
ul {
  text-align: left;
}
ul p {
  text-align: left;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  display: block;
  float: left;
  width: 100%;
}
blockquote {
  background-color: #fafad2;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
}
blockquote p {
  font-size: 0.9rem;
  line-height: 1.2rem;
}
.intent {
  font-weight: bold;
  background: #EEF;
  padding: 10px 3px;
  border-radius: 5px;
}
